doctype html
html
   head
      title="Home"
      //- link(rel="stylesheet", href="../public/styles/style.css")
      style.
         body{background-color:aqua}


   body
      include ./header.pug

      h1 Contacta con nosotros
      h3 Teléfono #{tel}
      h3 Email #{email}
      h3 Dirección #{street}

      include ./footer.pug