doctype html
html
   head
      title="Home"
      //- link(rel="stylesheet", href="../public/styles/style.css")
      style.
         body{background-color:pink}
   body
      include ./header.pug

      h1 Bienvenido a #{name}
      img(src="https://http.cat/100", alt="gatito")

      include ./footer.pug