doctype html
html
   head
      title="Home"
      //- link(rel="stylesheet", href="../public/styles/style.css")
      style.
         body{background-color:orange}
   body
      include ./header.pug

      h1 Nos puedes encontrar en la #{direccion} 

      include ./footer.pug