doctype html
html
   head
      title="Home"
      //- link(rel="stylesheet", href="../public/styles/style.css")
      style.
         body{background-color:red}
   body
      include ./header.pug

      h1 Nuestra misión es
      h3 #{slogan}

      include ./footer.pug